{% extends 'MMSamyEditorBundle:Layout:base.html.twig' %}

{% block sidebar %}
    {{ render(controller('MMSamyEditorBundle:ScmPackage:sidebar', {'scmPackage': scmPackage})) }}
{% endblock %}
{% block content %}
    <h2><i class="fa {{ scmFileMeta.icon }}"></i> {{ scmFileMeta.label }}</h2>

    <ul class="button-group">
        <li><a href="#" class="button" id="reorder-channels">Reorder Channel-Nos (without gap)</a></li>
    </ul>

    <table role="grid" class="data">
        <thead>
            <tr>
                <td>ID</td>
                <td>No.</td>
                <td>Name</td>
            </tr>
        </thead>
    </table>
    <script>
        $(document).ready(function() {

            var dataTable = $('.data').dataTable({
                "paging": false, // disable paging
                "ordering": false, // disable ordering
                "ajax": "{{ path('mm_samy_editor_scm_file_json', {'hash': scmPackage.hash, 'scmFileId': scmFile.scmFileId}) }}",
                "columns": [
                    { "data": "channelId", "className": "data-channelId", "visible": false},
                    { "data": "channelNo", "className": "data-channelNo" },
                    { "data": "name", "className": "data-name" }
                ],
                "drawCallback": function( settings, json ) {
                    // initializie editable Table
                    $('.data').editableTableWidget();
                }
            });

            // change of a cell
            dataTable.on('change', 'td', function(event, newValue) {
                // get TR and td
                var TD = $(this);
                var TR = $(this).parent('tr');

                // update datatable-cell with the new value
                dataTable.api().cell(TD).data(newValue);

                // get whole row
                var rowData = dataTable.api().row(TR).data();

                // build ajax url data gets send to
                var urlTemplate = "{{ path('mm_samy_editor_scm_channel', {'hash': scmPackage.hash, 'scmChannelId': 'placeholder'}) }}";
                var url = urlTemplate.replace("placeholder", rowData.channelId);

                // submit data to server
                var formData = $.extend({}, rowData);
                delete formData.channelId;
                $.post(url, {
                    'form': formData
                }, function() {
                    dataTable.fnReloadAjax();
                });
            });

            $("#reorder-channels").on('click', function() {
                $.get("{{ path('mm_samy_editor_scm_file_reorder', {'hash': scmPackage.hash, 'scmFileId': scmFile.scmFileId}) }}", function() {
                    dataTable.fnReloadAjax();
                });
            });

            $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
        });
    </script>
{% endblock %}