<ul class="tabs">
    {% for navitem in navitems %}
        <li class="tab-title {{ navitem.active ? 'active' : '' }}">
            <a href="{{ navitem.path }}">
                <i class="fa {{ navitem.icon }}"></i>
                <span>{{ navitem.label }}</span>
                <span class="radius label">{{ navitem.channelCount }}</span>
            </a>
        </li>
    {% endfor %}
</ul>