{% extends 'MMSamyEditorBundle:Layout:scmpackage.html.twig' %}

{% set meta_title = scmPackage.filename ~ ' ' ~ scmFileMeta.label %}
{% block sidebar %}
    {{ render(controller('MMSamyEditorBundle:ScmPackage:subNav', {'scmPackage': scmPackage, 'scmFileId': scmFile.scmFileId})) }}
{% endblock %}
{% block content %}
    <div ng-app="SamyChanApp">
        <div ng-controller="ChannelCtrl">
            <form class="form-inline">
                <input type="search" style="float: right; width: 200px;" ng-model="searchTerm" ng-click="filterChannel()" ng-keyup="filterChannel()" placeholder="search channels...">
                <button type="button" class="btn btn-default" ng-click="reorderChannels()"><i class="fa fa-sort-amount-asc"></i> Reorder</button>
                <button type="button" class="btn btn-success" ng-click="saveChannels()"><i class="fa fa-floppy-o"></i> Save [[ getModifiedChannelsCount() > 0 ? " (" + getModifiedChannelsCount() + " unsaved channels)" : ""]]</button>
            </form>
            <div class="to-bottom" style="overflow: hidden; border-bottom: 1px solid #ccc;">
            <hot-table
                    settings="{colHeaders: colHeaders, contextMenu: false, afterChange: afterChange, stretchH: 'all', afterInit: afterInit, afterChange: afterChange, columnSorting: {column: 0, sortOrder: true} }"
                    minSpareRows="1"
                    datarows="channels">
                {% for name,field in fields %}
                    <hot-column
                        data="{{ name }}"
                        title="'{{ field.label is defined ? field.label : name }}'"
                        {{ field.editable is not defined or not field.editable ? 'readonly="readonly"' : '' }}
                        {{ field.rendering.type is defined and field.rendering.type == 'boolean' ? 'type="\'checkbox\'"' : '' }}
                    >
                    </hot-column>
                {% endfor %}
                <hot-column data="channelId" title="'channelId'" renderer="renderFav" readonly="readonly"></hot-column>
            </hot-table>
            </div>
            <div id="grid" data-url="{{ path('mm_samy_editor_scm_file_json', {'hash': scmPackage.hash, 'scmFileId': scmFile.scmFileId}) }}"></div>
        </div>
    </div>
{% endblock %}