{% extends 'MMSamyEditorBundle:Layout:scmpackage.html.twig' %}

{% block sidebar %}
    {{ render(controller('MMSamyEditorBundle:ScmPackage:subNav', {'scmPackage': scmPackage, 'favNo': favNo})) }}
{% endblock %}
{% block content %}
    <div class="content-padding">
        <h1>Favorites #{{ favNo }}</h1>

        <div id="channels">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

        <script>
            $().ready(function() {
                $('#channels select').multiselect2side({'search': 'on', labeldx: ''});
            });
        </script>
    </div>
{% endblock %}