<header>
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/"><i class="fa fa-wrench"></i> SamyCHAN</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul>
                <li>
                    <form method="post" enctype="multipart/form-data" action="{{ path('mm_samy_editor_scm_package_upload') }}">
                        <label class="file-upload">
                            <i class="fa fa-folder-open"></i> Open channel list</a>
                            <input type="file" name="form[file]" onchange="this.form.submit();"/>
                        </label>
                        <input type="hidden" name="form[series]" value="auto" />
                    </form>
                </li>

                {% if scm_recent_manager.recentScmPackages|length > 0 %}
                    <li class="has-dropdown">
                        <a href="#"><i class="fa fa-history"></i> Recent files</a>
                        <ul class="dropdown">
                            {% for scmPackage in scm_recent_manager.recentScmPackages %}
                                <li>
                                    <a href="{{ path('mm_samy_editor_scm_package', {'hash': scmPackage.hash}) }}">{{ scmPackage.filename }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}

                <li class="has-dropdown">
                    <a href="#"><i class="fa fa-question"></i> Help</a>
                    <ul class="dropdown">
                        <li>
                            <a href="{{ path('mm_samy_editor_content_exportscm') }}">How to Export .SCM</a>
                        </li>
                        <li>
                            <a href="{{ path('mm_samy_editor_content_imprint') }}">Imprint</a>
                        </li>
                    </ul>
                </li>

            </ul>
            <ul class="right">
                {% if scmPackage is defined %}
                    <li class="has-form show-for-large-up">
                        <a href="{{ path('mm_samy_editor_scm_package_download', {'hash': scmPackage.hash}) }}" class="button"><i class="fa fa-cloud-download"></i> Download channel list</a>
                    </li>
                {% endif %}
            </ul>
        </section>
    </nav>
</header>
